@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.intro_area  {
	font-family: 'NanumSquareRound';
	padding-top:200px;
	width:1100px;
	margin: 0 auto;
}


#intro_title{
	font-size: 25px;
	margin-bottom:5px;
}

#intro_content{
	font-size: 20px;
}