@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.join_form * {
	font-family: 'NanumSquareRound';
}

body{
	background-color: #f1f1f1;
	top:50%;
	
}

#join_form1{
	margin-top:100px;
}

.join_form {
	margin: 10px auto;
	width:500px;
	padding: 30px 80px;
	background-color:white;
	box-shadow:0 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.join_form h1{
	font-size:25px;
	margin-bottom: 30px;
	text-align:center;
	font-weight:bold;
}

.input_cell{
	margin-bottom:20px;
	position: relative;
}

.input_cell p{
	font-size: 18px;
	margin-bottom: 10px;
}

.input_cell input{
	height: 40px;
	width: 100%;
	font-size:18px;
	box-sizing:border-box;
	padding: 10px;
	display: inline-block;
	outline:none;
	border: 1px solid #ccc;
}

#id_dup_chk{
	position:absolute;
	right:0; 
	top: 27px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius:3px;
	background-color: #666;
	color:white;
	padding: 0 10px;
}

.err_msg{
	margin-top: 15px;
	margin-left:5px;
}
.err_msg.err{color:red;}
.err_msg.ok{color:green;}

#join_btn{
	width:100%;
	height: 45px;
	font-size:18px;
	border:1px solid #999;
	background-color:#555;
	color:#fff;
	border-radius:5px;
	cursor:pointer;
}

#join_btn:hover, #id_dup_chk:hover{
	background-color:#333;
	
}