@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.pf_info{

	padding: 5px 15px;
}
.content_wrap *{
	font-family: 'NanumSquareRound';
}
.content_wrap{
	padding-top:80px;
	width:800px;
	margin:0 auto;

}
.userInfo {
	overflow:hidden;
}
.userInfo > div{
	float:left;
	border:0;
}
.profile_img{
	margin-top:50px;
	width:200px;
	margin-right: 10px;
}
.profile_img img{
	vertical-align:middle;
}
.profile_img button{
	width: 100%;
	padding: 10px 0;
	background-color: #555;
	color:#fff;
	border:0;
	border-radius: 0 0 3px 3px;
}
.item_label, .item_content{
	display: inline-block;
}

.item_label{
	font-weight: bold;
	margin-right: 5px;
	margin-left:10px;
}
.profile_info > div{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 15px;
}
.item_label:first-child{
	margin-left:0;
}

.user_label{
	display:inline-block;
	width: 20px;
	height: 20px;
	vertical-align:middle;
	font-size:12px;
	line-height:20px;
	text-align:center;
	color:#fff;
	background-color:#333;
	border-radius:50%;
}
.profile_info > textarea{
	resize:none;
	width: 100%;
	height:120px;
	width: 583px;
	font-size:18px;
}
.profile_info{
	width: calc(100% - 210px);
} 
#modify{
	margin-left:15px;
	margin-top:5px;
	text-decoration:none;
	padding:5px;
	background-color:white;
	color:#555;
	border:1px solid #555;
	cursor:pointer;
	font-size:13px;
	border-radius:5px;
}
#modify:hover{
	background-color:#555;
	color:white;
}


